@charset "utf-8";
/* CSS Document */
body{
	background-image:url(ueab_connection.png);
}

/* 
		The Connection 
		Email Simple form layout 
*/

#signup_button:hover{
		color:#6F0 !important;
		border-color:#F06 !important;
}

.resa {
	min-width:180px;
	max-width:180px;
	min-height:50px;
	color:#FFF;
	text-transform:capitalize;
	
	background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
copy
	
}
/* End of simple email holder */



/*
		The Connection panel page styler for the leftt & right overflowable divs
		(Details | Residence Selector) 
*/
#res_holder{
	width : 220px;
	height: 365px;
	float:right;
	overflow:scroll;
	margin-right:10px;
}

#res_r{
	float:left;
	height: 365px;
	overflow:scroll;
	color:#006;
}
/* End of panel [Details] | [Residence Picker] styling */



/* 
		The Connection 
		Position Layout Manager For the residence printable reports
*/

		@media print {
			#header, #footer {display:none;}
			body {background-image:url(printable.fw.png);}
		}

		 #container {
			display: table;
            width: 96%;
         }

		#left {
			float: left;
			width: 48%;
			top:0;
			padding: 0;
			margin: 0;
		}
		
		#right {
			float: right;
			width: 48%;
			top:0;
			padding: 0;
			margin: 0;
		}

/* End of position printable residence reports layout manager styling  */ 


/* Telephone number alignment on the user panel page */
#panel_container {
	display: table;
    width: 96%;
}
#panel_tel {
	text-align:right;
	width:110px;
	float:right;
	}

#panel_nom{
	text-align:left;
	width:auto;
	float:left;
	overflow:hidden;
}
/*  End Of Telephone number alignment on the user panel page */


/* 
		The connection 
		Search results card design 
*/ 
		#card_holder{
			width:380px;
			background:url(printable.fw.png);
			background-color:#fff;
			border:groove;
			border-radius:10px;
			height:180px;
			display:table;
		}
		#card_mini_frame{
			width:98%;
			display:table;
		}
		#card_pic {
			width:100px;
			height:100px;
			border-radius:5px;
			margin-top:3px;
			background-color:#ECECFB;
			float:left;
			text-align:left;
			background-image:url(card_pic.fw.png); 
		}
		#card_under_pic{
			width:100px;
			height:65px;
			top:110px;
			float:left;
			text-align:center;
			font-family:"Courier New", Courier;
			font-size:12px;
			font-weight:bold;
			text-transform:uppercase;
			
		}
		#card_dets {
			width:260px;
			height:175px;
			float:right;
			text-align:left;
			
		}
		
		#card_name {
			margin-top:19px;
			text-transform:capitalize;
			color:navy;
			font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
			font-size:14px;
			font-weight:bold;
			text-align:center;
			
		}
		
		#card_contact , #card_specs, #card_sp {
			width:98%;
			display:table;
		}
		#card_email {
			width:80%;
			margin-top:32px;
			color:green;
			margin-left:10px;
			float:left;
			font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
			font-size:14px;
			font-weight:bold;
			text-align:left;
		}
		#card_tel {
			width:80%;
			margin-top:2px;
			margin-right:10px;
			color:red;
			float:right;
			font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
			font-size:14px;
			font-weight:bold;
			text-align:right;
		}
		
		#card_specs{
			margin-top:30px;
			font:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
			color:#600;
			font-weight:bold;
		}
		
		
		#card_res{
			width:85%;
			padding:0;
			text-align:left;
			text-transform:capitalize;
			float:left;			
		}
				
		#card_room{
			width:14.5%;
			padding:0;
			text-align:left;
			float:right;
		} 
		
/* End of search results card design */